
<form [formGroup]="form" class="formulario" >
    
    <h1>Login</h1>
     <div class="contenedor">
     
        <div class="input-contenedor">
         <i class="fa-envelope-open"></i>
         <input formControlName="usuario" type="text" placeholder="Correo Electronico">
         
         </div>
         
         <div class="input-contenedor">
        <i class="fas fa-key icon"></i>
         <input formControlName="contrasena" type="password" placeholder="Contraseña">
         
         </div>
         <input type="submit" value="Login" class="button" (click)="enviarSesion()">
         <p>Al registrarte, aceptas nuestras Condiciones de uso y Política de privacidad.</p>
         <p>¿No tienes una cuenta? <a class="link" href="registrarvista.html">Registrate </a></p>
     </div>
    </form>