<header>
  <nav>
      <a routerLink="">Inicio</a>
      <a routerLink="acerca">A cerca de </a>
      <a href="#">Portafolio</a>
      <a routerLink="servicios">Servicios</a>
      <a routerLink="contacto">Contacto</a>
      <a routerLink="/login">Login</a>
  </nav>
  <section class="textos-header">
      <h1>Potencia tus ventas </h1>
      <h2>con una pagina web potente</h2>
      
  </section>
  <div class="wave" style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M0.00,49.98 C157.73,169.25 349.60,-77.44 500.00,49.98 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: #ffff;"></path></svg></div>
</header>